*[b-8uohfx6mnj] {
    font-family: 'Noto Sans', sans-serif;
}

.form[b-8uohfx6mnj] {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 300px;
}

.form > div[b-8uohfx6mnj] {
    display: flex;
    flex-direction: column;
}

.form > div > label[b-8uohfx6mnj] {
    font-size: 1.2rem;
    font-weight: bold;
}

.form > div > input[b-8uohfx6mnj], .form > div > textarea[b-8uohfx6mnj] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form > div > button[b-8uohfx6mnj] {
    padding: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

.form > div > button:hover[b-8uohfx6mnj] {
    background-color: #ccc;
}

.form > div > button:disabled[b-8uohfx6mnj] {
    background-color: #ccc;
    cursor: not-allowed;
}

.form > div > button:active[b-8uohfx6mnj] {
    background-color: #aac;
}